.contact_Box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;
}

.contact_card {
  color: #444444;
  padding: 20px;
  width: 400px;
  height: 200px;
  background: rgba(255, 255, 255, 0.08);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}
.contact_card .svg_box{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_card svg{
    color: var(--secondary_color);
    font-size: 30px;
  
    

}
.contact_card .card_info h3{
    padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 20px;
  
}
.contact_card .card_info p{
    margin-top: 10px;
}
.social_icon{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
margin-top: 10px;
}

.form_contact{
    margin-top: 30px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.08);
}
/* .form_contact form{
    width: 80%;
    margin: 0 auto;
} */
.input_group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}
.input_group input{
    width: 50%;
    padding: 15px 15px;
    border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.08);
  border: 0;
  transition: 0.3s;
  color: #fff;
}
.form_contact .subject{
    width: 100%;
    padding: 15px 15px;
    border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.08);
  border: 0;
  transition: 0.3s;
  color: #fff;
  margin-top: 20px;
}
textarea{
    width: 100%;
    border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.08);
  border: 0;
  transition: 0.3s;
  color: #fff;
  margin-top: 20px;
  padding: 15px 15px;
  height: 200px;

}
.submit{
    width: 200px;
    height: 50px;
    border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
  background-color: var(--secondary_color);
  margin: 20px auto;
  transition: .3s;
  cursor: pointer;
}
.submit:hover{
    background-color: #c34844;
}