.navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 100%;
}

.logo h1 {
    text-align: center;
    font-size: 18px;
    color: white;
}

.home_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.home_nav a {
    color: rgba(255, 255, 255, 0.7);
}

.active {
    position: relative;
    transition: .3s;
}

.active::before {
    content: '';
    position: absolute;
    top: 20px;
    width: 30px;
    height: 5px;
    background-color: var(--secondary_color);
}

.home .home_content .social_links a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: .3s;
}

.home .home_content .social_links a:hover {
    background-color: var(--secondary_color);
}

.burgermenu {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

@media (max-width: 776px) {
    
    .navbar{
        background-color: var(--primary_color);
    }
    .home_nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 0;
        /* background-color: rgba(0, 0, 0, 0.9); */
        background-color: rgb(29 26 26 / 90%);
        width: 100%;
        height: calc(100vh - 60px);
        justify-content: start;
        padding-top: 2rem;
    }

    .home_nav.active {
        display: flex;
    }

    .burgermenu {
        display: block;
        
    }
}
@media(max-width:420px){
    .home .home_content{
        top: 30%;
        left: 0;
        align-items: center;
    }
    .home .name{
        font-size: 35px !important;
    }
    .home .brief {
        text-align: center;
        line-height: 40px;
    }
}